.transcript {
    position: absolute;
    padding: 3px;
    width:100%;
    top: 0;
    height: 44pt;
    font-size: 20pt;
    color: rgb(255, 235, 119);
    overflow: hidden;
    z-index: 5;
    background-color: rgba(0,0,0,0.75);
}

.transcript p{
    position: absolute;
    width:60%;
    padding: 0 20%;
    bottom:2px;
    margin:0;
    text-align: center;
}